.box_red{
  margin: auto;
  background-color: #ff0000;
  width: 400px;
  height: 400px;
}

.box_redblue{
  margin: auto;
  background-color: #ff0000;
  width: 300px;
  height: 300px;
}

.box_two_1{
  justify-content: center;
  display: flex;
}
.box_blue{
  background-color: #0008ff;
  width: 300px;
  height: 300px;
  margin: 75px;
}
.box_green{
  background-color: #22ff00;
  width: 300px;
  height: 300px;
  margin: 75px;
}

.box_two_2{
  justify-content:center;
  display: flex;
}
.box_red_2{
  background-color: #ff0000;
  float:left;
  width:300px;
  height: 300px;
}
.box_blue_2{
  background-color: #0008ff;
  float:left;
  width:300px;
  height: 300px;
}

.box_three_1{
  justify-content:center;
  display: flex;
}
.box_red_3{
  background-color: #ff0000;
  float:left;
  width:300px;
  height: 300px;
  display: grid;
  place-items: center;
}
.box_blue_3{
  background-color: #0008ff;
  float:left;
  width:300px;
  height: 300px;
  display: grid;
  place-items: center;
}
.box_orenge_3{
  background-color: #ff8400;
  float:left;
  width:300px;
  height: 300px;
  display: grid;
  place-items: center;
}

.box_three_2{
  flex-direction: row;
  justify-content:center;
  display: flex;
}
.box_green_3{
  background-color: #00ff51;
  float:left;
  width:300px;
  height: 300px;
  display: grid;
  place-items: center;
}
.box_yellow_3{
  background-color: #d4ff00;
  float:left;
  width:300px;
  height: 300px;
  display: grid;
  place-items: center;
}
.box_pink_3{
  background-color: #ff00e1;
  float:left;
  width:300px;
  height: 300px;
  display: grid;
  place-items: center;
}

.box_three_3{
  flex-direction: row;
  justify-content:center;
  display: flex;
}
.box_red_7{
  background-color: #ff0000;
  width:300px;
  height: 300px;
}
.box_blue_7{
  background-color: #0008ff;
  width:300px;
  height: 300px;
  display: none;
}
.box_green_7{
  background-color: #00ff51;
  width:300px;
  height: 300px;
}
@media screen and (max-width: 960px) {
  .box_red{
    background-color: #ff0000;
    width: 200px;
    height: 200px;
  }
  .box_redblue{
    margin: auto;
    background-color: #007bff;
    width: 300px;
    height: 300px;
  }
  .box_blue{
    background-color: #0008ff;
    width: 300px;
    height: 300px;
    margin: 25px;
  }
  .box_green{
    background-color: #22ff00;
    width: 300px;
    height: 300px;
    margin: 25px;
  }
  .box_two_2{
    display: inline-block;
  }
  .box_red_2{
    clear: left;
  }
  .box_blue_2{
    clear: left;
  }
  .box_three_1{
    flex-direction: row-reverse;
  }
  .box_three_2 :nth-child(1) {
    order: 3;
  }
  .box_three_2 :nth-child(2) {
    order: 3;
  }
  .box_red_7{
    display: none;
  }
  .box_blue_7{
    display: block;
  }
}